.navbar {
    background-color: gray;
}
.card {
    border-radius: 1em;
    text-align: center;
}
.card:hover {
    background-color: rgb(78, 95, 248);
}
.suda {
    margin-left: 20%;
    margin-right: 20%;
}