.navbar {
    background-color: gray;
}
.card {
    border-radius: 1em;
    text-align: center;
}
.card:hover {
    background-color: rgb(78, 95, 248);
}
.cardss {
    justify-self: center;
}
p {
    justify-content: center;
}